#!/usr/bin/env python3
[Desktop Entry]
Version=1.0
Name=WHAT-Pi
Comment=WiFi Hacking Attack Tool
Exec=python /root/WHAT-Pi/WHAT-Pi.py
Icon=/root/WHAT-Pi/Wifi.gif
Terminal=true
Type=Application
TargetEnvironment=Unity
Categories=Utility;Application;
